.article {
	padding: 0 1.333em;
	border-bottom: 2px solid $color--alpha;
	h2 {
		font-size: 1.777em;
	}
}

figure {
	margin-bottom: 2.369em;
	padding: 1.333em;
	border-top: 1px solid lighten($color--alpha, 60%);
	border-bottom: 1px solid lighten($color--alpha, 60%);
	text-align: center;
	figcaption {
		padding-top: 0.75em;
		color: lighten($color--alpha, 60%);
		font-style: italic;
		font-size: 0.875em;
	}
	img {
		max-width: 100%;
	}
}

#disqus_thread {
	margin-top: 1em;
	padding: 0 1.333em;
}

.footnote {
	display: block;
	padding-top: 0.75em;
	border-top: 1px solid lighten($color--alpha, 60%);
	color: lighten($color--alpha, 40%);
	font-size: 0.563em;
}
