.hero {
	@extend %clearfix;
	display: table;
	width: 100%;
	height: 13.288em;
	background: lighten($color--alpha, 88%) url(../img/tri.png);
	background-attachment: fixed;
	text-align: center;
	@media (min-width: $breakpoint--x-medium) {
		height: 17.713em;
	}
	@media 	only screen and (min-device-pixel-ratio: 2),
			only screen and (min-resolution: 192dpi) {
		background-size: 50% 50%;
	}
}

.hero-title--home {
	h1 {
		display: inline-block;
		position: relative;
		font-size: 2.369em;
	}
	[class*="icon-"] {
		position: relative;
		display: inline-block;
		vertical-align: text-bottom;
	}
	.icon-tablet {
		letter-spacing: -0.2em;
	}
	.icon-phone {
		letter-spacing: -0.1em;
		font-size: 94%;
	}
	.icon-rocket {
		font-size: 77%;
	}
}

.hero-title {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	h1 {
		display: inline;
		margin: 0;
		padding: 0.178em 0.317em;
		background-color: rgba($color--alpha,0.8);
		color: #fff;
		font-size: 1.777em;
		position: relative;
		@media (min-width: $breakpoint--small) {
			font-size: 3.157em;
		}
		@media (min-width: $breakpoint--x-medium) {
			font-size: 4.209em;
		}
	}
}
