.padding {
	padding: 1.333em
}

.padding-top {
	padding-top: 1.333em
}

.padding-right {
	padding-right: 1.333em
}

.padding-bottom {
	padding-bottom: 1.333em
}

.padding-left {
	padding-left: 1.333em
}
