<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%= title %></title>

	<meta name="description" content="Writings about front-end architecture, website design, and workflow.">

	<meta property="og:title" content="lukeaskew.github.io" />
	<meta property="og:image" content="http://lukeaskew.github.io/assets/img/tri.png" />

	<link rel="icon" href="../favicon.ico" type="image/x-icon">

	<link rel="alternate" type="application/rss+xml" title="" href="../feed.xml">

	<link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../assets/css/main.css">

</head>
<body>

	<div class="hero">
		<div class="hero-title">
			<h1><%= title %></h1>
		</div>
	</div>

	<article class="article container padding-top">
